.message-card {
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  margin: 20px 0;
  padding: 20px 20px;
  border-radius: 3px;
  transition: all 250ms;
  filter: drop-shadow(1px 1px 1px rgb(97, 126, 131));
  cursor: pointer;

  &:hover {
    filter: drop-shadow(2px 2px 2px rgb(97, 126, 131));
  }
  &:active {
    filter: drop-shadow(0px 0px 0px rgb(97, 126, 131));
  }
  .message-card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .message-card-Ids {
    font-size: 0.8rem;
    margin: 5px 0;
  }
  .message-card-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top: 1px solid #1f1f1f;
  }
}

.icon {
  height: 1.5rem;
  margin-right: 10px;
}

.seleted{
  filter: drop-shadow(0px 0px 0px rgb(97, 126, 131));
}
