.post-message-popup{
    position: fixed;
    top: 20vh;
    right:35vh;

    transform: scale(0);
    width: 50vw;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(10px 10px 10px gray);

    padding: 20px 30px;
    transition: all 0.18s ease-in-out;
    input{
        width: 100%;
    }
    textarea{
        width: 100%;
        margin-bottom: 10px;
    }
    p{
        text-transform: uppercase;
        margin-bottom: 3px;
        margin-top: 10px;
    }

    
}
.pop-up{
    // top: 20vh;
    transform: scale(1);
}