.message-detail{
    margin-top: 20px;;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    p{
        font-size: 1.2rem;
    }
    .edit-input{
        width: 100%;
    }
}

.btns{
    justify-content: end;
    
}