
.pages{
  width: 90%;
}


.button {
  background-color: #8fd1e1;
  filter: drop-shadow(1px 1px 2px #2b5a66da);
  color: rgb(241, 241, 241);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  filter: drop-shadow(2px 2px 4px #2b5a66da);
  color: rgb(250, 250, 250);
  transform: scale(1.05) ;
}
